{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container">
    <h1>Connexion</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post">
        <div>
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required>
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="_password" required>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="btn btn-primary">Se connecter</button>

        {# Bouton pour aller vers l'inscription #}
        <a href="{{ path('app_register') }}" class="btn btn-success mt-3">Nouvel utilisateur ? S'inscrire</a>
        <a href="{{ path('home') }}" class="btn btn-secondary">🏠 Accueil</a>


    </form>
</div>
{% endblock %}